.container {
  width: 60%;
  margin: auto;
}

header {
  font-size: 1.5rem;
  line-height: 1.2;
}
header ul {
  display: flex;
  align-items: center;
}
header .fa-solid {
  margin-right: 0.7rem;
}
header .header-info {
  background: #F6F7FA;
  color: #8D94AD;
  padding-block: 1.2rem;
}
header .header-info__content {
  display: flex;
  justify-content: space-between;
}
header .header-info .related-links li {
  margin-right: 2.5rem;
}
header .header-info .right-part li:not(.support li) {
  margin-left: 2rem;
}
header .header-info .support {
  display: flex;
  color: #212C3A;
}
header .header-info a:hover {
  color: #CA0F16;
}
header .navbar {
  background: #CA0F16;
  color: #fff;
}
header .navbar li:not(.logo) {
  padding: 2.1rem 1.5rem;
}
header .navbar li:not(.logo):not(:last-child):hover {
  opacity: 0.7;
}
header .navbar li:is(.logo) {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 2.5rem;
}
header .navbar li:last-child {
  margin-left: auto;
  background: #7DD321;
  padding: 1rem;
  font-weight: 500;
  border-radius: 0.7rem;
}
header .navbar li:last-child:hover {
  background-color: hsl(89deg, 73%, 58%);
}

.filter {
  padding-block: 2rem;
  font-size: 1.6rem;
  background: #EAEDF2;
}
.filter .form-group {
  display: grid;
  gap: 2rem;
  padding-block: 1rem;
}
.filter .col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.filter input {
  padding: 1.6rem 1rem;
}
.filter .placeholder {
  color: #8D94AD;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
  transform: translateY(-50%);
  cursor: pointer;
}
.filter .select {
  background: #fff;
  position: relative;
  color: #333;
  border: 0.1rem solid #DFE3E8;
  border-radius: 0.7rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter .select .select-input {
  flex-grow: 1;
  border-radius: 0.7rem 0 0 0.7rem;
  display: inline-block;
}
.filter .select .placeholder {
  top: 50%;
  left: 10%;
}
.filter .select .chevron {
  color: #8D94AD;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 100%;
}
.filter .select .chevron .fa-solid {
  transition: all 0.3s;
}
.filter .select .chevron:is(.rotated) .fa-solid {
  transform: rotate(180deg);
}
.filter .select .dropdown {
  display: none;
  position: absolute;
  top: 130%;
  left: 0;
  z-index: 3;
  padding-top: 1rem;
  background: #fff;
  border-radius: 0.7rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 33.9rem;
  overflow: scroll;
}
.filter .select .dropdown li {
  padding: 0.9rem 1rem;
  cursor: pointer;
}
.filter .select .dropdown li:hover {
  background: #F0F3F7;
}
.filter .select .dropdown li:is(.selected-option) {
  color: #CA0F16;
}
.filter .select .dropdown li:has(label) {
  display: flex;
  justify-content: space-between;
}
.filter .select .dropdown li:has(label) input {
  accent-color: #CA0F16;
}
.filter .select:is(.selected) {
  border: 0.1rem solid #8f96ae;
}
.filter .select:is(.open) .dropdown {
  display: block;
}
.filter .select:is(.typing) .placeholder {
  top: 20%;
  left: 1rem;
  font-size: 1.2rem;
}
.filter .disabled {
  background: #F5F6F8;
  color: #BCC1D0;
}
.filter .radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #8D94AD;
  height: 100%;
}
.filter .radio-group li {
  height: 100%;
  width: 100%;
  background: #fff;
  border: 0.1rem solid #DFE3E8;
}
.filter .radio-group li:first-child {
  border-radius: 0.7rem 0 0 0.7rem;
}
.filter .radio-group li:last-child {
  border-radius: 0 0.7rem 0.7rem 0;
}
.filter .radio-group li:has(input[type=radio]:checked) {
  background: #CA0F16;
  border: 0.1rem solid #CA0F16;
  color: #fff;
}
.filter .radio-group li label {
  height: 100%;
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .radio-group li input[type=radio] {
  display: none;
}
.filter .price-select {
  display: flex;
  position: relative;
}
.filter .price-select input {
  background-color: #fff;
  color: #333;
  border-radius: 0.7rem;
  width: 50%;
  border: 0.1rem solid #DFE3E8;
}
.filter .price-select input:is(#min-price) {
  border-radius: 0.7rem 0 0 0.7rem;
}
.filter .price-select input:is(#max-price) {
  border-radius: 0 0.7rem 0.7rem 0;
}
.filter .price-select .placeholder {
  top: 50%;
}
.filter .price-select .placeholder:is(.min-price-label) {
  left: 10%;
}
.filter .price-select .placeholder:is(.max-price-label) {
  left: 60%;
}
.filter .currency-credit-container {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.filter .currency-credit-container .currency-select input {
  width: 100%;
}
.filter .currency-credit-container .checkbox {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #DFE3E8;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter .currency-credit-container .checkbox input[type=checkbox] {
  display: none;
}
.filter .year-select-container {
  display: flex;
}
.filter .year-select-container .select:has(#min-year) {
  border-radius: 0.7rem 0 0 0.7rem;
}
.filter .year-select-container .select:has(#max-year) {
  border-radius: 0 0.7rem 0.7rem 0;
}
.filter .year-select-container .select-input {
  width: 50%;
}
.filter .year-select-container .select-input:is(#min-year) {
  border-radius: 0.7rem 0 0 0.7rem;
}
.filter .year-select-container .select-input:is(#max-year) {
  border-radius: 0 0.7rem 0.7rem 0;
}
.filter .form-footer {
  display: flex;
  justify-content: flex-end;
}
.filter .form-footer input[type=reset] {
  color: #8f96ae;
  margin-right: 3rem;
}
.filter .form-footer input[type=submit] {
  background: #CA0F16;
  color: #fff;
  padding-inline: 3rem;
  border-radius: 0.7rem;
}
.filter .form-footer input[type=submit]:hover {
  background: hsl(358deg, 86%, 38%);
}/*# sourceMappingURL=style.css.map */